{% extends "layout.html" %}

 {% block title %}
    Your Passwords
{% endblock %}

{% block link %}

    <link href="/static/pass.css" rel="stylesheet">


{% endblock %}

{% block main %}

         <div class="centerdiv">

{% for main in mains %}
            <div class="loginbox">
                <form action="/" method="POST">
                    <p>Username</p>
                    <br><br><br>
                    <input type="text" name="username" value="{{ main.username }}" disabled>

                    <p>Password</p>
                    <br><br><br>
                    <input type="text" name="password" value="{{ main.password }}" disabled>
                </form>
            </div>
{% endfor %}


</div>
<br><br><br><br><br><br><br><br><p style="color: transparent;">h</p>
{% endblock %}

